@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
.container .main .workflow .content__title {
  margin-top: 16px;
}

.container .main {
  margin-top: 32px;
}

.container .main {
  margin-right: 32px;
}

.container .main .workflow .content__title {
  margin-bottom: 16px;
}

.container .main .snippets__content .list .item__text,
.container .main .clipboard__content .list .item__text,
.container .main .workflow__content .list .item__text,
.container .main .download__content .list .item__text, .container .main .snippets__title,
.container .main .clipboard__title,
.container .main .workflow__title,
.container .main .download__title, .container .main .link-content__link, .container .main .intro__title {
  margin-bottom: 32px;
}

.container .main .snippets__content .list .item__title,
.container .main .clipboard__content .list .item__title,
.container .main .workflow__content .list .item__title,
.container .main .download__content .list .item__title {
  margin-bottom: 8px;
}

.container .main {
  margin-left: 32px;
}

.container {
  background: white url(../images/bg-header-mobile.png) no-repeat top center/cover;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 900px) {
  .container {
    background: url(../images/bg-header-desktop.png) no-repeat top center/cover;
  }
}
.container .main {
  max-width: 1440px;
  margin: 0 auto;
}
.container .main .intro {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container .main .intro::before {
  content: "";
  display: block;
  background: url(../images/logo.svg) no-repeat center center/contain;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 100%;
  height: 150px;
  animation: rotate 1s linear 1000ms;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.container .main .intro__title {
  font-size: 2.375rem;
  text-align: center;
  color: #4c545d;
  line-height: 44px;
}
@media screen and (min-width: 900px) {
  .container .main .intro__title {
    font-size: 2.75rem;
  }
}
.container .main .intro__text {
  color: #9fabb2;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 900px) {
  .container .main .intro__text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
.container .main .link-content {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .container .main .link-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
  }
}
.container .main .link-content__link {
  align-items: center;
  background-color: #26baa4;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  box-shadow: 0 4px 1px #13a08b;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.container .main .link-content__link:last-child {
  background-color: #6173ff;
  box-shadow: 0 4px 1px #4558eb;
}
@media screen and (min-width: 900px) {
  .container .main .link-content__link:last-child {
    margin-left: 1rem;
  }
}
.container .main .link-content__link:hover {
  transform: scale(1.05);
}
.container .main .link-content__text {
  color: #9fabb2;
}
.container .main .snippets,
.container .main .clipboard,
.container .main .workflow,
.container .main .download {
  min-height: 100vh;
}
.container .main .snippets__title,
.container .main .clipboard__title,
.container .main .workflow__title,
.container .main .download__title {
  text-align: center;
  font-size: 2.125rem;
  color: #4c545d;
  line-height: 38px;
}
.container .main .snippets__text,
.container .main .clipboard__text,
.container .main .workflow__text,
.container .main .download__text {
  text-align: center;
  color: #9fabb2;
}
@media screen and (min-width: 900px) {
  .container .main .snippets__text,
.container .main .clipboard__text,
.container .main .workflow__text,
.container .main .download__text {
    display: flex;
    justify-content: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }
}
.container .main .snippets__content,
.container .main .clipboard__content,
.container .main .workflow__content,
.container .main .download__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .container .main .snippets__content,
.container .main .clipboard__content,
.container .main .workflow__content,
.container .main .download__content {
    flex-direction: row;
  }
}
.container .main .snippets__content::before,
.container .main .clipboard__content::before,
.container .main .workflow__content::before,
.container .main .download__content::before {
  background: url(../images/image-computer.png) no-repeat left center/contain;
  content: "";
  display: block;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-height: 100%;
  height: 402px;
}
@media screen and (min-width: 900px) {
  .container .main .snippets__content::before,
.container .main .clipboard__content::before,
.container .main .workflow__content::before,
.container .main .download__content::before {
    width: 100%;
    height: 572px;
    margin-top: 6rem;
    margin-left: -65px;
  }
}
.container .main .snippets__content .list,
.container .main .clipboard__content .list,
.container .main .workflow__content .list,
.container .main .download__content .list {
  text-align: center;
}
@media screen and (min-width: 900px) {
  .container .main .snippets__content .list,
.container .main .clipboard__content .list,
.container .main .workflow__content .list,
.container .main .download__content .list {
    text-align: left;
  }
}
.container .main .snippets__content .list .item__title,
.container .main .clipboard__content .list .item__title,
.container .main .workflow__content .list .item__title,
.container .main .download__content .list .item__title {
  font-size: 1.5rem;
  color: #4c545d;
}
.container .main .snippets__content .list .item__text,
.container .main .clipboard__content .list .item__text,
.container .main .workflow__content .list .item__text,
.container .main .download__content .list .item__text {
  font-size: 1.25rem;
  color: #9fabb2;
}
@media screen and (min-width: 900px) {
  .container .main .snippets__content .list .item__text,
.container .main .clipboard__content .list .item__text,
.container .main .workflow__content .list .item__text,
.container .main .download__content .list .item__text {
    width: 70%;
  }
}
.container .main .clipboard {
  margin-top: 10rem;
  min-height: 100%;
}
.container .main .clipboard::after {
  content: "";
  background: url(../images/image-devices.png) no-repeat center center/contain;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
@media screen and (min-width: 900px) {
  .container .main .clipboard::after {
    height: 572px;
  }
}
.container .main .workflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .main .workflow__title {
  margin-top: 1rem;
}
.container .main .workflow .content {
  margin-top: 5rem;
}
@media screen and (min-width: 900px) {
  .container .main .workflow .content {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
}
.container .main .workflow .content div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container .main .workflow .content div:nth-child(1) {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.container .main .workflow .content div:nth-child(1)::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/icon-blacklist.svg) no-repeat center center/contain;
  width: 44px;
  height: 40px;
}
.container .main .workflow .content div:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.container .main .workflow .content div:nth-child(2)::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/icon-text.svg) no-repeat center center/contain;
  width: 44px;
  height: 40px;
}
.container .main .workflow .content div:nth-child(3) {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.container .main .workflow .content div:nth-child(3)::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/icon-preview.svg) no-repeat center center/contain;
  width: 44px;
  height: 40px;
}
.container .main .workflow .content__title {
  font-size: 1.5rem;
  color: #4c545d;
}
.container .main .workflow .content__text {
  color: #9fabb2;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .container .main .workflow .content__text {
    width: 60%;
  }
}
.container .main .workflow__images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
  row-gap: 5rem;
  width: 90%;
}
@media screen and (min-width: 900px) {
  .container .main .workflow__images {
    flex-direction: row;
    column-gap: 5rem;
    margin-top: 10rem;
  }
}
.container .main .download {
  min-height: 0;
  margin-top: 5rem;
}
@media screen and (min-width: 900px) {
  .container .main .download {
    margin-top: 5rem;
  }
}
.container .main .download .link-content {
  margin-top: 3rem;
  margin-bottom: 10rem;
}
.container footer {
  background-color: #eeeeee;
}
.container footer .footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  left: 0;
  right: 0;
  bottom: 0;
}
.container footer .footer::before {
  content: "";
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 65px;
  height: 65px;
  background: url(../images/logo.svg) no-repeat center center/contain;
}
@media screen and (min-width: 900px) {
  .container footer .footer {
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 120px;
  }
}
.container footer .footer .faqs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
  row-gap: 2rem;
  color: #9fabb2;
  font-weight: 300;
}
@media screen and (min-width: 900px) {
  .container footer .footer .faqs {
    flex-direction: row;
    column-gap: 2rem;
    flex-wrap: wrap;
    width: 30%;
    justify-content: flex-start;
  }
}
.container footer .footer .social {
  display: flex;
  justify-content: center;
  font-size: 1.75rem;
  color: #4c545d;
}
.container footer .footer .social :not(:last-child) {
  margin-right: 2rem;
}
.container footer .footer .social i:hover {
  color: #6173ff;
  cursor: pointer;
  transform: scale(1.05);
}
.container footer .attribution {
  padding-bottom: 2rem;
  font-size: 11px;
  text-align: center;
}
.container footer .attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
