@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
.container .main .workflow .content__title {
  margin-top: 16px;
}

.container .main {
  margin-top: 32px;
}

.container .main {
  margin-right: 32px;
}

.container .main .workflow .content__title {
  margin-bottom: 16px;
}

.container .main .snippets__content .list .item__text,
.container .main .clipboard__content .list .item__text,
.container .main .workflow__content .list .item__text, .container .main .snippets__title,
.container .main .clipboard__title,
.container .main .workflow__title, .container .main .intro .link-content__link, .container .main .intro__title {
  margin-bottom: 32px;
}

.container .main .snippets__content .list .item__title,
.container .main .clipboard__content .list .item__title,
.container .main .workflow__content .list .item__title {
  margin-bottom: 8px;
}

.container .main {
  margin-left: 32px;
}

.container {
  background: white url(../images/bg-header-mobile.png) no-repeat top center/cover;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 900px) {
  .container {
    background: url(../images/bg-header-desktop.png) no-repeat top center/cover;
  }
}
.container .main .intro {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container .main .intro::before {
  content: "";
  display: block;
  background: url(../images/logo.svg) no-repeat center center/contain;
  margin-bottom: 4rem;
  width: 100%;
  height: 150px;
}
.container .main .intro__title {
  font-size: 2.375rem;
  text-align: center;
  color: #4c545d;
  line-height: 44px;
}
@media screen and (min-width: 900px) {
  .container .main .intro__title {
    font-size: 2.75rem;
  }
}
.container .main .intro__text {
  color: #9fabb2;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 900px) {
  .container .main .intro__text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
.container .main .intro .link-content {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .container .main .intro .link-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35%;
    margin: 0 auto;
  }
}
.container .main .intro .link-content__link {
  align-items: center;
  background-color: #26baa4;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  box-shadow: 0 4px 1px #13a08b;
  cursor: pointer;
}
.container .main .intro .link-content__link:last-child {
  background-color: #6173ff;
  box-shadow: 0 4px 1px #4558eb;
}
@media screen and (min-width: 900px) {
  .container .main .intro .link-content__link:last-child {
    margin-left: 1rem;
  }
}
.container .main .intro .link-content__text {
  color: #9fabb2;
}
.container .main .snippets,
.container .main .clipboard,
.container .main .workflow {
  min-height: 100vh;
}
.container .main .snippets__title,
.container .main .clipboard__title,
.container .main .workflow__title {
  text-align: center;
  font-size: 2.125rem;
  color: #4c545d;
  line-height: 38px;
}
.container .main .snippets__text,
.container .main .clipboard__text,
.container .main .workflow__text {
  text-align: center;
  color: #9fabb2;
}
@media screen and (min-width: 900px) {
  .container .main .snippets__text,
.container .main .clipboard__text,
.container .main .workflow__text {
    display: flex;
    justify-content: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }
}
.container .main .snippets__content,
.container .main .clipboard__content,
.container .main .workflow__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .container .main .snippets__content,
.container .main .clipboard__content,
.container .main .workflow__content {
    flex-direction: row;
  }
}
.container .main .snippets__content::before,
.container .main .clipboard__content::before,
.container .main .workflow__content::before {
  background: url(../images/image-computer.png) no-repeat left center/contain;
  content: "";
  display: block;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-height: 100%;
  height: 402px;
}
@media screen and (min-width: 900px) {
  .container .main .snippets__content::before,
.container .main .clipboard__content::before,
.container .main .workflow__content::before {
    width: 100%;
    height: 572px;
    margin-top: 6rem;
    margin-left: -65px;
  }
}
.container .main .snippets__content .list,
.container .main .clipboard__content .list,
.container .main .workflow__content .list {
  text-align: center;
}
@media screen and (min-width: 900px) {
  .container .main .snippets__content .list,
.container .main .clipboard__content .list,
.container .main .workflow__content .list {
    text-align: left;
  }
}
.container .main .snippets__content .list .item__title,
.container .main .clipboard__content .list .item__title,
.container .main .workflow__content .list .item__title {
  font-size: 1.5rem;
  color: #4c545d;
}
.container .main .snippets__content .list .item__text,
.container .main .clipboard__content .list .item__text,
.container .main .workflow__content .list .item__text {
  font-size: 1.25rem;
  color: #9fabb2;
}
@media screen and (min-width: 900px) {
  .container .main .snippets__content .list .item__text,
.container .main .clipboard__content .list .item__text,
.container .main .workflow__content .list .item__text {
    width: 70%;
  }
}
.container .main .clipboard {
  margin-top: 10rem;
  min-height: 100%;
}
.container .main .clipboard::after {
  content: "";
  background: url(../images/image-devices.png) no-repeat center center/contain;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
@media screen and (min-width: 900px) {
  .container .main .clipboard::after {
    height: 572px;
  }
}
.container .main .workflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .main .workflow__title {
  margin-top: 1rem;
}
.container .main .workflow .content {
  margin-top: 5rem;
}
@media screen and (min-width: 900px) {
  .container .main .workflow .content {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
}
.container .main .workflow .content div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container .main .workflow .content div:nth-child(1) {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.container .main .workflow .content div:nth-child(1)::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/icon-blacklist.svg) no-repeat center center/contain;
  width: 44px;
  height: 40px;
}
.container .main .workflow .content div:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.container .main .workflow .content div:nth-child(2)::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/icon-text.svg) no-repeat center center/contain;
  width: 44px;
  height: 40px;
}
.container .main .workflow .content div:nth-child(3) {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.container .main .workflow .content div:nth-child(3)::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/icon-preview.svg) no-repeat center center/contain;
  width: 44px;
  height: 40px;
}
.container .main .workflow .content__title {
  font-size: 1.5rem;
  color: #4c545d;
}
.container .main .workflow .content__text {
  color: #9fabb2;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .container .main .workflow .content__text {
    width: 60%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
