@use "sass:math";

// Colors
$--color-strong-cyan: hsl(171, 66%, 44%);
$--color-light-blue: hsl(233, 100%, 69%);
$--color-dark-grayish-blue: hsl(210, 10%, 33%);
$--color-grayish-blue: hsl(201, 11%, 66%);

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

@mixin fontBai($-weight-400-600) {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: $-weight-400-600;
}

@mixin flx($property, $jty-cnt) {
    display: flex;
    #{$property}: $jty-cnt;
}

@mixin for-desktop-only {
    @media screen and (min-width:900px) {
        @content;
    }
}

@mixin fontSize($size) {
    font-size: calculaRem($size);
}

@function calculaRem($size) {
    @return math.div($size, 16px) * 1rem;
}

$directions: top,
right,
bottom,
left;
$layout-margin-default: 16px;

@each $direction in $directions {
    %default-margin-#{$direction} {
        margin-#{$direction}: $layout-margin-default;
    }

    %no-margin-#{$direction} {
        margin-#{$direction}: 0;
    }

    %double-margin-#{$direction} {
        margin-#{$direction}: $layout-margin-default * 2;
    }

    %ralf-margin-#{$direction} {
        margin-#{$direction}: math.div($layout-margin-default, 2);
    }
}

.container {
    background: white url(../images/bg-header-mobile.png) no-repeat top center / cover;
    @include fontBai(400);

    @include for-desktop-only() {
        background: url(../images/bg-header-desktop.png)no-repeat top center / cover;
    }

    .main {
        @extend %double-margin-left,
        %double-margin-right,
        %double-margin-top;
        max-width: 1440px;
        margin: 0 auto;

        .intro {
            min-height: 100vh;
            @include flx(justify-content, center);
            flex-direction: column;
            align-items: center;

            &::before {
                content: "";
                display: block;
                ;
                background: url(../images/logo.svg) no-repeat center center / contain;
                margin-bottom: 4rem;
                margin-top: 4rem;
                width: 100%;
                height: 150px;
                
                animation: rotate 1s linear 1000ms;

                @keyframes rotate {
                    0%{
                        transform: rotateZ(0deg);
                    }
                    100%{
                        transform: rotateZ(360deg);
                    }
                }
            }

            &__title {
                @include fontSize(38px);
                text-align: center;
                color: $--color-dark-grayish-blue;
                line-height: 44px;
                @extend %double-margin-bottom;

                @include for-desktop-only() {
                    @include fontSize(44px);
                }
            }

            &__text {
                color: $--color-grayish-blue;
                text-align: center;
                @include fontSize(20px);
                margin-bottom: 3rem;

                @include for-desktop-only() {
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

        }

        .link-content {
            width: 90%;
            margin: 0 auto;

            @include for-desktop-only() {
                @include flx(justify-content, center);
                align-items: center;
                max-width: 50%;
                margin: 0 auto;
            }

            &__link {
                align-items: center;
                background-color: $--color-strong-cyan;
                border-radius: 50px;
                color: white;
                font-weight: 600;
                @include fontSize(20px);
                display: flex;
                justify-content: center;
                height: 60px;
                width: 100%;
                box-shadow: 0 4px 1px rgb(19, 160, 139);
                cursor: pointer;
                @extend %double-margin-bottom;
                transition: transform .1s ease-in-out;

                &:last-child {
                    background-color: $--color-light-blue;
                    box-shadow: 0 4px 1px rgb(69, 88, 235);

                    @include for-desktop-only {
                        margin-left: 1rem;
                    }
                }
                
                &:hover{
                    transform: scale(1.05);
                }
            }

            &__text {
                color: $--color-grayish-blue;
            }
        }

        .snippets,
        .clipboard,
        .workflow,
        .download {
            min-height: 100vh;

            &__title {
                text-align: center;
                @include fontSize(34px);
                color: $--color-dark-grayish-blue;
                line-height: 38px;
                @extend %double-margin-bottom;
            }

            &__text {
                text-align: center;
                color: $--color-grayish-blue;

                @include for-desktop-only() {
                    @include flx(justify-content, center);
                    width: 55%;
                    margin-left: auto;
                    margin-right: auto;
                    @include fontSize(20px);
                }
            }

            &__content {
                @include flx(justify-content, center);
                align-items: center;
                flex-direction: column;

                @include for-desktop-only() {
                    flex-direction: row;
                }

                &::before {
                    background: url(../images/image-computer.png) no-repeat left center /contain;
                    content: "";
                    display: block;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    max-height: 100%;
                    height: 402px;


                    @include for-desktop-only() {
                        width: 100%;
                        height: 572px;
                        margin-top: 6rem;
                        margin-left: -65px;
                    }
                }

                .list {
                    text-align: center;

                    @include for-desktop-only() {
                        text-align: left;
                    }

                    .item {

                        &__title {
                            @include fontSize(24px);
                            color: $--color-dark-grayish-blue;
                            @extend %ralf-margin-bottom;
                        }

                        &__text {
                            @include fontSize(20px);
                            color: $--color-grayish-blue;
                            @extend %double-margin-bottom;

                            @include for-desktop-only() {
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }

        .clipboard {
            margin-top: 10rem;
            min-height: 100%;

            &::after {
                content: "";
                background: url(../images/image-devices.png) no-repeat center center / contain;
                width: 100%;
                height: 250px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 3rem;

                @include for-desktop-only() {
                    height: 572px;
                }
            }
        }

        .workflow {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__title {
                margin-top: 1rem;
            }

            .content {
                margin-top: 5rem;

                @include for-desktop-only() {
                    @include flx(justify-content, center);
                    margin-top: 0;
                }

                div {
                    @include flx(justify-content, center);
                    align-items: center;
                    width: 100%;

                    &:nth-child(1) {
                        display: flex;
                        flex-direction: column;
                        margin-top: 3rem;

                        &::before {
                            content: "";
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: url(../images/icon-blacklist.svg) no-repeat center center / contain;
                            width: 44px;
                            height: 40px;
                        }
                    }

                    &:nth-child(2) {
                        display: flex;
                        flex-direction: column;
                        margin-top: 3rem;

                        &::before {
                            content: "";
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: url(../images/icon-text.svg) no-repeat center center / contain;
                            width: 44px;
                            height: 40px;
                        }
                    }

                    &:nth-child(3) {
                        display: flex;
                        flex-direction: column;
                        margin-top: 3rem;

                        &::before {
                            content: "";
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: url(../images/icon-preview.svg) no-repeat center center / contain;
                            width: 44px;
                            height: 40px;
                        }
                    }
                }

                &__title {
                    @include fontSize(24px);
                    color: $--color-dark-grayish-blue;
                    @extend %default-margin-bottom,
                    %default-margin-top;

                }

                &__text {
                    color: $--color-grayish-blue;
                    text-align: center;

                    @include for-desktop-only() {
                        width: 60%;
                    }
                }
            }

            &__images {
                @include flx(justify-content, space-around);
                align-items: center;
                flex-direction: column;
                margin-top: 6rem;
                row-gap: 5rem;
                width: 90%;

                @include for-desktop-only() {
                    flex-direction: row;
                    column-gap: 5rem;
                    margin-top: 10rem;
                }
            }
        }

        .download {
            min-height: 0;
            margin-top: 5rem;

            @include for-desktop-only() {
                margin-top: 5rem;
            }

            .link-content {
                margin-top: 3rem;
                margin-bottom: 10rem;
            }
        }
    }

    footer {

        background-color: rgb(238, 238, 238);

        .footer {
            @include flx(justify-content, space-evenly);
            flex-direction: column;
            align-items: center;
            text-align: center;
            min-height: 50vh;
            left: 0;
            right: 0;
            bottom: 0;

            &::before {
                content: "";
                margin-top: 2rem;
                margin-bottom: 3rem;
                width: 65px;
                height: 65px;
                background: url(../images/logo.svg) no-repeat center center / contain;
            }

            @include for-desktop-only() {
                flex-direction: row;
                justify-content: space-evenly;
                min-height: 120px;
            }

            .faqs {
                @include flx(justify-content, center);
                flex-direction: column;
                margin-bottom: 2rem;
                row-gap: 2rem;
                color: $--color-grayish-blue;
                font-weight: 300;

                @include for-desktop-only() {
                    flex-direction: row;
                    column-gap: 2rem;
                    flex-wrap: wrap;
                    width: 30%;
                    justify-content: flex-start;
                }
            }

            .social {
                @include flx(justify-content, center);
                @include fontSize(28px);
                color: $--color-dark-grayish-blue;

                :not(:last-child) {
                    margin-right: 2rem;
                }

                i:hover{
                    color: $--color-light-blue;
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }

        .attribution {
            padding-bottom: 2rem;
            font-size: 11px;
            text-align: center;

            a {
                color: hsl(228, 45%, 44%);
            }
        }
    }
}